.center-contents {
  width: 100%;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1em;
  opacity: 0.8;
}

.container-status {
  font-size: 0.8em;
}

.item-key {
  color: rgb(230, 230, 230, 0.75);
}

.item-val {
  font-style: italic;
}

.ul-left-margin {
  margin-left: 1.5em;
}

.mono {
  font-family: monospace;
}

.minitext {
  font-size: 0.7em;
}

::ng-deep .backups-mat-dialog {
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-container {
    overflow: hidden;
  }
}
