@use "sass:map" as map;
@use "@angular/material" as mat;
@use "palette" as custom-palette;

/* Custom Typography */
$custom-typography: mat.define-typography-config(
  $font-family: "'Rubik', sans-serif",
  $body-2: mat.define-typography-level(1rem, 1.71rem, 500),
  $body-1: mat.define-typography-level(1rem, 1.42rem, 400),
  $caption: mat.define-typography-level(0.85rem, 1.42rem, 400),
  $button: mat.define-typography-level(1rem, 1rem, 500),
);
@include mat.core();

/* Define palettes */
$my-custom-primary: mat.define-palette(custom-palette.$md-purple);
$my-custom-accent: mat.define-palette(custom-palette.$md-gray);
$my-custom-warn: mat.define-palette(custom-palette.$md-red);

/* Define themes */
$my-custom-theme: mat.define-dark-theme(
  (
    typography: $custom-typography,
    color: (
      primary: $my-custom-primary,
      accent: $my-custom-accent,
      warn: $my-custom-warn,
    ),
  )
);

/* Apply themes */
@include mat.all-component-themes($my-custom-theme);

:root {
  --my-primary-A100: map.get($my-custom-primary, A100);
  --my-primary-A200: map.get($my-custom-primary, A200);
}
