<div>
  <button mat-icon-button
          matTooltip="Start the container"
          (click)="startContainer()"
          [disabled]="startContainerDisabled()">
    <mat-icon>
      play_circle_filled
    </mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="Restart Container"
          (click)="restartContainer()"
          [disabled]="restartContainerDisabled()">
    <mat-icon>
     replay
    </mat-icon>
  </button>
  <button mat-icon-button
          matTooltip="Edit filesystem and configs">
    <mat-icon>
      edit
    </mat-icon>
  </button>
</div>
