@import "../../../../styles/common.scss";

.new-env-configuration {
  margin: 32px 0 48px 0;
  display: flex;
  flex-direction: column;
}

.extra-spacer {
  margin-top: 40px !important; // Eh...
}

.checkbox-hint,
mat-hint {
  font-size: 12px;
  color: rgba(222, 219, 219, 0.7);
}

mat-label {
  font-size: 1.1em;
  color: #f6f6ff;
}

mat-form-field + mat-form-field {
  margin-top: 12px;
}
