ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 26px;
}

div.root {
  margin-top: 28px;
}

.mat-checkbox .mat-checkbox-frame {
  transform: scale(2);
}

.mat-checkbox-checked .mat-checkbox-background {
  transform: scale(2);

}