<div class="container-table">
  <div *ngFor="let containerDef of containers$ | async"
       class="minecraft-container">
    <mat-card>
      <mat-card-title>
        <div class="container-name">
          <div class="">{{containerDef.containerName}}</div>
          <div>
            <app-container-status-light [container]="containerDef"></app-container-status-light>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
<!--        <div class="container-status">-->
<!--          {{container.status}}-->
<!--        </div>-->
        <app-container-actions [container]="containerDef"></app-container-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
