<div class="container-table">
  <div *ngFor="let containerDef of containers$ | async"
       class="minecraft-container">
    <mat-card>
      <mat-card-title>
        <div class="container-name">
          <div class="">{{containerDef.getFormattedContainerName()}}</div>
          <div>
            <app-container-status-light [containerDef]="containerDef"></app-container-status-light>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="container-status">
          aa
          {{containerDef.ports}}
        </div>
        <app-container-actions [containerDef]="containerDef"></app-container-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
