<div class="container-table">
  <div *ngFor="let container of containers"
       class="minecraft-container">
    <mat-card>
      <mat-card-title>
        <div class="container-name">
          <div class="">{{container.containerName}}</div>
          <div>
            <app-container-status-light [container]="container"></app-container-status-light>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="container-status">
          {{container.status}}
        </div>
        <app-container-actions [container]="container"></app-container-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
