@import "../../../../styles/common.scss";

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10vw 10vw 10vw;
}

.file {
  &:hover {
    color: rgb(89, 89, 234);
    text-decoration: underline;
  }
}

.basename {
}

.mtime {
}

.ctime {
}

.filemode {
}
