@import "../../../styles/common.scss";

.flex-row {
  display: flex;
  flex-direction: row;

  div + div {
    margin-left: 4px;
  }
}

.show-extra-info {
  &::marker {
    color: var(--my-primary-A100);
  }
}

.show-extra-extra-info {
  margin-left: 4px;
  &::marker {
    color: var(--my-primary-A200);
  }
}

.status-and-info-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & button {
    color: #c6c6ff;
    line-height: 1em;

    height: unset;

    min-width: unset;
    text-align: right;
    padding: 0;
  }
}
