<mat-toolbar>
  <span>Server Management</span>
  <button mat-icon-button (click)="openNewEnvDialog()" matTooltip="Create New Environment">
    <mat-icon>
      add_box
    </mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group (selectedIndexChange)="selectedIndexChanged($event)"
               [selectedIndex]="activeTabIndex$ | async">
  <mat-tab *ngFor="let env of availableEnvs$ | async"
           [label]="env.formatted">
    <div class="container-tab">
      <div class="container-summary">
        <h3>
          Overview
        </h3>
        <mat-card>
          <mat-card-title>
            Summary
          </mat-card-title>
        </mat-card>
      </div>
      <div class="aux-containers">
        <h3>
          Aux Containers
        </h3>
        <!-- Velocity -->
        <div *ngFor="let container of getContainersForEnvAndType$(env, ContainerType.MCProxy) | async">
          <app-aux-container-card [container]="container"></app-aux-container-card>
        </div>

        <!-- MySQL -->
        <div *ngFor="let container of getContainersForEnvAndType$(env, ContainerType.MySQL) | async">
          <app-aux-container-card [container]="container"></app-aux-container-card>
        </div>
      </div>
      <div class="mc-containers">
        <!-- MC Containers -->
        <h3>
          Servers
        </h3>
        <app-minecraft-containers-table [containers]="(getContainersForEnvAndType$(env, ContainerType.Minecraft) | async) ?? []"></app-minecraft-containers-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
