h3 {
  margin-bottom: 8px;
}

.container-tab {
  display: grid;
  grid-template-columns: 250px 250px auto;

  & > div {
    margin: 8px;
  }
}

.summary-key {
  color: rgb(230, 230, 230, 0.75);
}
.summary-val {
  font-style: italic;
}

.filter-to-white {
  filter: brightness(0) saturate(100%) invert(100%);
}