<mat-card class="container">
  <mat-card-title>
    <div class="container-name">
      {{containerDef.getFormattedContainerName()}}
      <app-container-status-light [containerDef]="containerDef"></app-container-status-light>
    </div>

  </mat-card-title>
  <mat-card-content>
    <div class="container-status">
<!--      <div>-->
<!--        {{container.status}}-->
<!--      </div>-->
    </div>
    <app-container-actions [containerDef]="containerDef"></app-container-actions>
  </mat-card-content>
</mat-card>
