@import "../../styles/common.scss";

h3 {
  margin-bottom: 8px;
}

.bot-margin-spacer {
  margin-bottom: 8px;
}

.container-tab {
  display: grid;
  grid-template-columns: 250px auto;

  & > div {
    margin: 8px;
  }
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-to-white {
  filter: brightness(0) saturate(100%) invert(100%);
}

::ng-deep .mat-mdc-tab-header {
  overflow-x: scroll !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-tab-label-container {
  overflow: visible !important;
  scroll-behavior: smooth;
}

::ng-deep .mat-mdc-tab-header::-webkit-scrollbar {
  display: none;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-tab-header-pagination {
  display: none;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: white !important;
}