<div>
  <button
    mat-icon-button
    matTooltip="Start the container"
    (click)="startContainer()"
    [disabled]="startContainerDisabled()"
  >
    <mat-icon> play_circle_filled </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Restart Container"
    (click)="restartContainer()"
    [disabled]="restartContainerDisabled()"
  >
    <mat-icon> replay </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Edit filesystem and configs"
    (click)="editContainerConfig()"
  >
    <mat-icon> edit </mat-icon>
  </button>
  <button
    *ngIf="containerDef.isMinecraftContainer"
    mat-icon-button
    matTooltip="Connect to this world group's server console."
    (click)="openServerConsole()"
  >
    <mat-icon svgIcon="console" class="filter-to-white"></mat-icon>
  </button>
</div>
