<div>
  <button
    mat-icon-button
    matTooltip="Start the container"
    (click)="startContainer()"
    [disabled]="containerRunning$ | async"
  >
    <mat-icon> play_circle_filled </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Stop Container"
    (click)="stopContainer()"
    [disabled]="!(containerRunning$ | async)"
  >
    <mat-icon> stop_circle </mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Edit filesystem and configs"
    (click)="editContainerConfig()"
  >
    <mat-icon> edit </mat-icon>
  </button>
  <button
    *ngIf="containerDef.isMinecraftContainer"
    mat-icon-button
    matTooltip="Connect to this world group's server console."
    (click)="openServerConsole()"
  >
    <mat-icon svgIcon="console" class="filter-to-white"></mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Restore from Backups"
    (click)="restoreFromBackup()"
  >
    <mat-icon> settings_backup_restore </mat-icon>
  </button>
  <button
    *ngIf="containerDef.isMinecraftContainer"
    mat-icon-button
    matTooltip="Copy configs from container to bindmounts"
    (click)="copyConfigs()"
  >
    <mat-icon> file_copy </mat-icon>
  </button>
</div>
