<mat-drawer-container>
  <mat-drawer #drawer class="sidenav" mode="over">
    <!-- Environment -->
    <div>
      <h4>Environments</h4>
      <mat-button-toggle-group class="toggle-buttons">
        <ng-container *ngFor="let env of availableEnvs$ | async">
          <mat-button-toggle
            class="button-height"
            mat-raised-button
            (change)="onEnvChange($event)"
            value="{{ env.name }}"
          >
            {{ env.formatted }}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>

    <!-- Config Types -->
    <div>
      <h4>Config Type</h4>
      <mat-button-toggle-group class="toggle-buttons">
        <mat-button-toggle
          (change)="onConfigTypeChange($event)"
          value="nginx"
          mat-raised-button
        >
          Nginx
        </mat-button-toggle>
        <mat-button-toggle
          (change)="onConfigTypeChange($event)"
          value="worlds"
          mat-raised-button
        >
          World Group
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Extra Config Params -->
    <div *ngIf="((extraConfigParams$ | async) ?? []).length > 0">
      <h4>{{ selectedConfigType$ | async | capitalize }}</h4>
      <mat-button-toggle-group class="toggle-buttons">
        <ng-container *ngFor="let data of extraConfigParams$ | async">
          <mat-button-toggle
            class="button-height"
            mat-raised-button
            value="{{ data.value }}"
            (change)="onExtraConfigParamChange($event)"
          >
            {{ data.formatted }}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
    </div>
  </mat-drawer>

  <mat-drawer-content class="content">
    <div class="expansion-tab" (click)="toggleDrawer()">
      <mat-icon svgIcon="chevrons_left" class="filter-to-white"></mat-icon>
    </div>
    <div *ngrxLet="readyToRender$">
      <div class="header">
        <h2>
          <span>
            {{ (env$ | async)?.formatted }}
          </span>
          <span
            *ngIf="
              ((env$ | async) ?? '') !== '' && ((subPath$ | async) ?? '') !== ''
            "
          >
            -
          </span>
          <span>
            {{ subPath$ | async }}
          </span>
        </h2>
      </div>
      <app-nested-file-tree
        [env$]="env$"
        [subPath$]="subPath$"
        [render$]="renderFileTree$.asObservable()"
      ></app-nested-file-tree>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
