<div class="header row">
  <div>Path</div>
  <div>File Mode</div>
  <div>Size</div>
  <div>Last Modified</div>
</div>

<mat-tree
  #treeSelector
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="file-tree"
>
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
  This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="file-row">
    <app-filenode-row style="width: 100%" [fileNode]="node"></app-filenode-row>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node
    matTreeNodeToggle
    *matTreeNodeDef="let node; when: hasChild"
  >
    <div class="mat-tree-node file-row">
      <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <app-filenode-row
        style="width: 100%"
        [fileNode]="node"
      ></app-filenode-row>
    </div>
    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div
      [class.file-tree-invisible]="!treeControl.isExpanded(node)"
      role="group"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
