@import "../filenode-row/filenode-row.component.scss";

.header {
  color: rgb(225, 225, 225);
  background-color: rgb(110, 110, 110);
  padding: 4px;
  padding-left: 35px;
}

.file-tree-invisible {
  display: none;
}

.file-tree ul,
.file-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.file-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 15px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.file-tree div[role="group"] > .mat-tree-node {
  padding-left: 4px;
}

.file-row {
  font-size: 0.9em;
}

.mat-tree-node {
  &:hover {
    background-color: rgb(79, 75, 79);
  }
}
