$md-purple: (
	50: #eae6f4,
	100: #c9bfe3,
	200: #a695d0,
	300: #826bbd,
	400: #674baf,
	500: #4c2ba1,
	600: #452699,
	700: #3c208f,
	800: #331a85,
	900: #241074,
	A100: #b6a8ff,
	A200: #8b75ff,
	A400: #6042ff,
	A700: #4b29ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$md-yellow: (
	50: #fffaed,
	100: #fff4d1,
	200: #ffecb3,
	300: #ffe494,
	400: #ffdf7d,
	500: #ffd966,
	600: #ffd55e,
	700: #ffcf53,
	800: #ffca49,
	900: #ffc038,
	A100: #ffffff,
	A200: #ffffff,
	A400: #fff5e1,
	A700: #ffedc8,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-red: (
	50: #fbeded,
	100: #f6d1d1,
	200: #f0b3b3,
	300: #e99494,
	400: #e57d7d,
	500: #e06666,
	600: #dc5e5e,
	700: #d85353,
	800: #d34949,
	900: #cb3838,
	A100: #ffffff,
	A200: #ffe2e2,
	A400: #ffafaf,
	A700: #ff9696,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-gray: (
	50: #e8e8ea,
	100: #c6c6cb,
	200: #a0a1a9,
	300: #7a7b86,
	400: #5e5e6c,
	500: #414252,
	600: #3b3c4b,
	700: #323341,
	800: #2a2b38,
	900: #1c1d28,
	A100: #707eff,
	A200: #3d51ff,
	A400: #0a23ff,
	A700: #0018f0,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
