@import "../../styles/common.scss";

h3 {
  margin-bottom: 8px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backups {
  display: flex;
  flex-direction: row;

  height: 100%;

  & > div {
    margin: 8px;
  }

  &_list {
    width: 100%;
    min-height: 68vh;
    overflow: auto;
  }
  &_table {
    width: 100%;
  }
}

.backup-choice {
  &_title-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  &_details {
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: auto;
    grid-template-areas: "restic-version-title restic-version-value"
                         "backup-date-title backup-date-value"
                         "snapshot-id-title snapshot-id-value"
                         "tags-title tags-value";
  }

  &_restic-version-title {
    grid-area: restic-version-title;
  }
  &_restic-version-value {
    grid-area: restic-version-value;
  }
  &_backup-date-title {
    grid-area: backup-date-title;
  }
  &_backup-date-value {
    grid-area: backup-date-value;
  }
  &_snapshot-id-title {
    grid-area: snapshot-id-title;
  }
  &_snapshot-id-value {
    grid-area: snapshot-id-value;
  }
  &_tags-title {
    grid-area: tags-title;
  }
  &_tags-value {
    grid-area: tags-value;
  }

  &_confirm-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filter-to-white {
  filter: brightness(0) saturate(100%) invert(100%);
}