@import "../../styles/common.scss";

h3 {
  margin-bottom: 8px;
}

.dialog-content {
  display: flex;
}

.bot-margin-spacer {
  margin-bottom: 8px;
}

.backups-management {
  width: 100%;
  & > div {
    margin: 8px;
  }
}

.filter-to-white {
  filter: brightness(0) saturate(100%) invert(100%);
}
